@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: "poppins";
}

:root {
    --gift-color: #d5869d;
    --gift-seccond-color: #fff;
    --text-color: #fff;
    --main-color: #0ef;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(aset/bg-6.png);
    background-position: center;
    background-size: cover;
}

.heading {
    margin-bottom: 500px;
}

.headingDua {
    position: absolute;
    margin-top: -500px;
    margin-left: 80px;
}

.heading p,
.headingDua p{
    color:var(--text-color);
    text-shadow: 0 0 1rem var(--gift-color);
    font-size: 50px;
    font-family: "Cookie", cursive;
}



.slider {
    position: absolute;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    overflow: hidden;
    box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.3);
}

figure {
    position: relative;
    left: 0;
    width: 400%;
    animation: 20s slide infinite;
}

.slide {
    position: relative;
    width: 25%;
    float: left;
}

.slide img {
    width: 100%;
    height: 300px;
}

@keyframes slide {
    0% {
        left: 0;
    }
    10% {
        left: 0;
    }
    20% {
        left: -100%;
    }
    30% {
        left: -100%;
    }
    40% {
        left: -200%;
    }
    50% {
        left: -200%;
    }
    55% {
        left: -300%;
    }
    65% {
        left: -300%;
    }
    66% {
        left: -200%;
    }
    74% {
        left: -200%;
    }
    75% {
        left: -100%;
    }
    85% {
        left: -100%;
    }
    90% {
        left: 0; 
    }
    100% {
        left: 0; 
    }
}


/* .heading {
    position: absolute;
    margin-bottom: 50px;
}

.heading p {
    color: var(--text-color);
    font-family: "Cookie", cursive;
    font-size: 60px;
    text-shadow: 0 0 1rem var(--gift-color);
} */

.btn {
    position: absolute;
    margin-top: 500px;
    width: 100px;
    height: 40px;
    font-weight: 700;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--gift-color);
    /* margin-left: 300px; */
    box-shadow: 0 0 1rem var(--gift-color);
}


.btn a {
    text-decoration: none;
    color: var(--text-color);
}

/* halaman duacard */

.birthdayCard2 {
    position: relative;
    width: 250px;
    height: 350px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 1s;
}

.birthdayCard2:hover {
    transform: perspective(2500px) rotate(5deg);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2), 0 10px 100px rgba(0,0,0,0.5);
}

.birthdayCard2:hover .cardFront2 {
    transform: rotateY(-160deg);
}

/* .birthdayCard2:hover .happy {
    visibility: hidden;
} */

.cardFront2 {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 350px;
    overflow: hidden;
    transform-origin: left;
    /* box-shadow: inset 50px 10px 100px rgba(0,0,0,0.1), 15px 0 25px rgba(0,0,0,0.2); */
    transition: 0.6s;
}

.cardFront2 img {
    position: absolute;
    margin-left: 10px;
}

.cardFront2 p {
    font-family: "Norican", cursive;
    position: absolute;
    color: #333;
    text-align: center;
    font-size: 20px;
    margin-top: 200px;
}

.cardInside2 {
    position: absolute;
    background-color: #fff;
    width: 250px;
    height: 350px;
    z-index: -1;
    left: 0;
    top: 0;
    /* box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2); */
}

.fotoInside img {
    width: 200px;
    height: 100px;
    position: absolute;
    border-radius: 10px;
    margin: 30px 10px 0 25px;
}

.fotoInside p {
    position: absolute;
    margin-top: 150px;
    font-family: "Norican", cursive;
}

.kode {
    position: absolute;
    font-size: 40px;
    color: #8b8181;
    margin-right: 1300px;
    margin-bottom: -500px;
}


@media (max-width: 476px) {
    body {
        background-image: url(aset/bg2.png);
    }
}
